// Style du slider des partenaires 
//------------------------------------------------
// Nom: Oli Boucher
// Matricule: 2147514

//-----------------------------------------------
// Contenant de la couche
//------------------------------------------------
section.slider-area {
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    margin-bottom: 100px;
    overflow: hidden;
    width: 100vw;
    border-top: 5px solid var(--vert500);
    border-bottom: 5px solid var(--vert500);
    border-left: none;
    overflow: hidden;

    @include breakpoint-min(1024) {
        max-width: 90vw;
        right: -1%;
    }

    @include breakpoint-min(1200) {
        right: -2%;
    }

    @include breakpoint-min(1920) {
        right: -3%;
    }

    & h2 {
        margin: 0px 50px 50px 50px;
        font-size: 2em;
        font-weight: 1000;
        line-height: 1.2em;
        text-transform: uppercase;

        @include breakpoint-min(576) {
            font-size: 2em;
        }

        @include breakpoint-min(992) {
            margin: 0px 100px 100px 100px;
            font-size: 2.5em;
        }

        @include breakpoint-min(1200) {}

        @include breakpoint-min(1920) {
            font-size: 4em;
        }
    }

    //-----------------------------------------------
    // Un partenaire
    //------------------------------------------------
    & div.item {
        width: 100%;

        & img {
            width: 150px;

        }
    }

    //-----------------------------------------------
    // Slider
    //------------------------------------------------
    & div.wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        width: calc(250px * 14);
        padding: 20px 0;
        background-color: white;
        overflow: hidden;
        animation: scrollLogos 20s linear infinite;

        &:hover {
            animation-play-state: paused;
        }
    }
}

@keyframes scrollLogos {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}