:root {
    --noir: #000000;
    --darkBrown: #090D04;
    --darkGrey: #0D0D0D;
    // --brun100: #F2E5D5;
    // --brun200: #A69180;
    // --brun300: #A68D60;
    // --brun400: #A67244;
    --turquoise: #7DB999;
    --jaune: #F6CB44;

    --vert100: #45e472;
    --vert200: #2ae15e;
    --vert300: #1ecf4f;
    --vert400: #1ab545;
    --vert500: #159037;
    --vert600: #138533;
    --vert700: #127b2f;
    --vert800: #10712b;
    --vert900: #0f6727;
    --vert1000: #0d5c23;
    --vert1100: #0c521f;
    --vert1200: #0a481c;
    --vert1300: #093e18;
    --vert1400: #073314;
    --vert1500: #062910;
    --vert1600: #041f0c;
    --vert1700: #031508;
    --vert1800: #010a04;

    --brown100: #876546;
    --brown200: #7e5e41;
    --brown300: #74563c;
    --brown400: #6a4f37;
    --brown500: #614832;
    --brown600: #57412d;
    --brown700: #4d3a28;
    --brown800: #443223;
    --brown900: #3a2b1e;
    --brown1000: #302419;
    --brown1100: #271d14;
}