// Style général du header d'une catégorie
//------------------------------------------------
// Nom: Oli Boucher
// Matricule: 2147514

.header-categorie {
    @include setFlex(column, center, center);
    position: relative;
    overflow: hidden;
    
    & img {
        max-height: 100vh;
        width: 100%;
        object-fit: cover;
        filter: brightness(50%)
    }

    & h1 {
        @include resetBox;
        position: absolute;
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        color: white;   
        animation: slideTitle 1s ease-in-out forwards;

        @include breakpoint-min(576) {
            font-size: 3em;
        }

        @include breakpoint-min(768) {
            font-size: 4em;
        }

        @include breakpoint-min(992) {
            font-size: 5em;
        }

        @include breakpoint-min(1200) {
            font-size: 7em;
        }

        @include breakpoint-min(1920) {
            font-size: 9em;
        }
    }
}

@keyframes slideTitle {
    0% {
        opacity: 0;
        transform: translateX(1500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}