.imgMRC {
    width: 95%;
    height: 331px;
    object-fit: cover;
    object-position: center;
    border-radius: 268px;
}

.sousTitreMrc {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 125px;
        background-color: var(--vert700);
        margin-bottom: 75px;
    }
}
